In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dados= pd.read_excel('Analise_ABC.xlsx')

In [2]:
dados

       Código  Consumo  Movimentação  Custo Unitário (R$)  valor Total(R$) ABC
0     1000006    181.0           134          2766.339724        500707.49   A
1     1000007     46.0             2          8903.648261        409567.82   A
2     1000008   2211.3           125           160.050405        353919.46   A
3     1000009     52.0            13          6339.953269        329677.57   A
4     1000017    443.0            32           642.746050        284736.50   A
...       ...      ...           ...                  ...              ...  ..
7150  1032973      1.0             1             0.010000             0.01   C
7151  1032974      1.0             1             0.010000             0.01   C
7152  1032975      1.0             1             0.010000             0.01   C
7153  1032980      1.0             1             0.010000             0.01   C
7154  1032981      1.0             1             0.010000             0.01   C

[7155 rows x 6 columns]

In [3]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7155 entries, 0 to 7154
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código               7155 non-null   int64
 1   Consumo              7155 non-null   float64
 2   Movimentação         7155 non-null   int64
 3   Custo Unitário (R$)  7155 non-null   float64
 4   valor Total(R$)      7155 non-null   float64
 5   ABC                  7155 non-null   object
dtypes: float64(3), int64(2), object(1)
memory usage: 335.5+ KB

In [4]:
dados.columns

Index(['Código', 'Consumo', 'Movimentação', 'Custo Unitário (R$)',
       'valor Total(R$)', 'ABC'],
      dtype='object')

In [5]:
# definindo a coluna ABC valores red para 0,1,2 p/enxergar um valor numerico e não uma String
dados['ABC']=dados['ABC'].replace('A', 0)

In [6]:
dados['ABC']=dados['ABC'].replace('B', 1)

In [7]:
dados['ABC']=dados['ABC'].replace('C', 2)

In [8]:
#separando as variáveis entre preditoras e alvo com o cod abaixo remove coluna ABC do dataset e
#adiciona ela na variavel y, o resto do data setfica em x exceto y (dados.drop " remova quem?.."ABC")
y = dados['ABC']
x= dados.drop('ABC',axis =1)

In [9]:
#apenas Y, antes a coluna ABC
y.head()

0    0
1    0
2    0
3    0
4    0
Name: ABC, dtype: int64

In [10]:
x.head()

    Código  Consumo  Movimentação  Custo Unitário (R$)  valor Total(R$)
0  1000006    181.0           134          2766.339724        500707.49
1  1000007     46.0             2          8903.648261        409567.82
2  1000008   2211.3           125           160.050405        353919.46
3  1000009     52.0            13          6339.953269        329677.57
4  1000017    443.0            32           642.746050        284736.50

In [11]:
from sklearn.model_selection import train_test_split
#criando o conjunto de dados para treino e teste observar que do total de X teremos 30%
x_treino, x_teste, y_treino , y_teste =train_test_split(x,y, test_size =0.2)

In [12]:
#valores totais linhas 
x.shape

(7155, 5)

In [13]:
y.shape

(7155,)

In [14]:
#quantidade de linhas de x removendo a parte de treino o mesmo se aplica para y
x_treino.shape

(5724, 5)

In [15]:
#ExtraTreesClassifier é um algoritimo de ML que ira usar os dados de 
#treino acima definodos
from sklearn.ensemble import ExtraTreesClassifier
#Criando o Modelo
modelo =ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

#imprimindo resultado:
resultado =modelo.score(x_teste,y_teste)
print('Acurácia:',resultado)

Acurácia: 1.0

In [17]:
#AVALIÇÃO DA MÁQUINA 

#from sklearn.metrics import confusion_matrix
#print(confusion_matrix(y_teste,y_treino))

In [18]:
y_teste

5211    2
1142    1
1390    2
6975    2
1055    1
       ..
3527    2
2930    2
1380    2
6934    2
5591    2
Name: ABC, Length: 1431, dtype: int64

In [19]:
x_teste[100:110]

       Código  Consumo  Movimentação  Custo Unitário (R$)  valor Total(R$)
6886  1032261      1.0             1             6.050000             6.05
1303  1004350     11.0            11           419.155455          4610.71
5156  1023443      7.0             5            22.325714           156.28
1714  1006582     42.0             5            74.637381          3134.77
6591  1031110      6.0             4             2.683333            16.10
6287  1029661      1.0             1            31.760000            31.76
2587  1011497      2.0             2           740.490000          1480.98
5908  1027810      1.0             1            61.840000            61.84
5185  1023536     13.0             5            11.546154           150.10
7026  1032601      6.0             1             0.345000             2.07

In [20]:
previsao= modelo.predict(x_teste[60:70])

In [21]:
previsao

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)